---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Favorites" description="A collection of my favorite software and game design resources." maxWidth="max-w-3xl">
    <article class="prose prose-dante max-w-none">
        <header>
            <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Favorites</h1>
        </header>

        <h2>Software</h2>
        <ul>
            <li><a href="https://bvisness.me/high-level/" target="_blank" rel="noopener noreferrer">High-level is the goal - Ben Visness</a></li>
            <li><a href="https://pomb.us/build-your-own-react/" target="_blank" rel="noopener noreferrer">Build your own React - Rodrigo Pombo</a></li>
        </ul>

        <!-- I want to come back here and post some of my favorite talks -->
        <!--<h2>Game Design</h2>-->
        <!--<ul>-->
        <!--</ul>-->

        <h2>Currently learning from:</h2>
        <ul>
            <li>
                <a href="https://opendatastructures.org" target="_blank" rel="noopener noreferrer">Open Data Structures</a>
                <p>Recently, whenever I come across a data structure that I feel like I need to understand <em>(e.g. <a href="https://opendatastructures.org/ods-java.pdf#page=297" target="_blank" rel="noopener noreferrer">B+ trees</a>, since they're foundational for indexing data in modern databases)</em>, I try to implement it from scratch.</p>

                <p><strong>Why?</strong></p>
                <p>I'd like to be a more competent backend designer. While having a foundational understanding of data structures may not be <em>central</em> to figuring out an app's domain model, I think it's valuable context that's a prerequisite to more informed design decisions. I also hate guessing.</p>
            </li>
        </ul>

        <h2>For tinkering.</h2>
        <ul>
            <li><a href="https://github.com/awesomedata/awesome-public-datasets?tab=readme-ov-file" target="_blank" rel="noopener noreferrer">Awesome Public Datasets</a></li>
        </ul>
    </article>
</BaseLayout>
