---
import { getCollection } from 'astro:content';
import { sortItemsByDateDesc } from '../utils/data-utils';
import { SideProjectCarousel } from './SideProjectCarousel.tsx';

type Props = { hideOnMobile?: boolean };
const { hideOnMobile = false } = Astro.props;

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const sideProjects = projects.filter(({ data }) => data.sideProject);

---

<div class={hideOnMobile ? "hidden md:block" : 'md:hidden'}>
    <h2 class="m-8 ml-0 text-xl font-serif italic sm:text-2xl">Side Projects</h2>
    {
        sideProjects?.length > 0 && (
            <SideProjectCarousel projects={sideProjects} client:load />
        )
    }
</div>